$primary: #66ddb3;
$secondary: #6fdfe3;
$dark-blue: #1f2329;
$middle-blue: #24262e;

@import "partials/reset";
@import "partials/header";
@import "partials/hero";
@import "partials/cards";
@import "partials/slider";
@import "partials/hover";
@import "partials/animation";
@import "partials/footer";
